<configuration>
    <config>
        <add key="dependencyVersion" value="Highest" />
        <add key="globalPackagesFolder" value="c:\packages" />
        <add key="repositoryPath" value="c:\installed_packages" />
    </config>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Test Source" value="c:\packages" />
    </packageSources>
</configuration>