Source: srt
Priority: optional
Maintainer: derfel <code@derfel.net>
Build-Depends: debhelper (>= 9), tcl, pkg-config, cmake, libssl-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/Haivision/srt

Package: libsrt-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsrt1 (= ${binary:Version}), ${misc:Depends}
Description: SRT - Secure, Reliable, Transport
 Secure Reliable Transport (SRT) is a proprietary transport
 technology that optimizes streaming performance across
 unpredictable networks, such as the Internet.
 .
 This package contains development files for libsrt1

Package: libsrt1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SRT - Secure, Reliable, Transport
 Secure Reliable Transport (SRT) is a proprietary transport
 technology that optimizes streaming performance across
 unpredictable networks, such as the Internet.
 .
 This package contains library files for libsrt1

Package: srt-bin
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SRT - Secure, Reliable, Transport
 Secure Reliable Transport (SRT) is a proprietary transport
 technology that optimizes streaming performance across
 unpredictable networks, such as the Internet.
 .
 This package contains srt binary commands.

