name: cxx11

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
  build:
    name: macos
    runs-on: macos-latest

    steps:
    - name: GoogleTest
      run: |
        curl -o googletest.rb https://raw.githubusercontent.com/Homebrew/homebrew-core/23e7fb4dc0cc73facc3772815741e1deb87d6406/Formula/googletest.rb
        brew install -s googletest.rb
    - uses: actions/checkout@v3
    - name: configure
      run: |
        mkdir _build && cd _build
        cmake ../ -DCMAKE_COMPILE_WARNING_AS_ERROR=ON -DENABLE_STDCXX_SYNC=ON -DENABLE_ENCRYPTION=OFF -DENABLE_UNITTESTS=ON -DENABLE_BONDING=ON -DUSE_CXX_STD=17
    - name: build
      run: cd _build && cmake --build ./
    - name: test
      run: cd _build && ctest --extra-verbose
