name: iOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        cxxstdsync: [OFF, ON]

    name: iOS-cxxsync${{ matrix.cxxstdsync }}
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: |
        mkdir _build && cd _build
        cmake ../ -DENABLE_ENCRYPTION=OFF -DENABLE_STDCXX_SYNC=${{matrix.cxxstdsync}} -DENABLE_UNITTESTS=OFF -DENABLE_BONDING=ON --toolchain scripts/iOS.cmake
    - name: build
      run: cd _build && cmake --build ./
